# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Code Editors
/.idea
/.vscode
/*.csproj
/*.sln
*.swp
*.vcxproj.user

# Unity
/Library
/Logs
/Temp

/Assets/Vdn8/Audio/*.ogg
/Assets/StreamingAssets/*.mov
